<html>
    <head>
      <title>
          <%= title %>
      </title>
      <link rel="stylesheet" href="/css/home.css">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
       <h1>
         Being Punctual
       </h1>
       <section>
        <% if(locals.user){ %>
          <form action="/users/add-habit" method="POST">
            <input type="text" name="habit" placeholder="Enter Habit">
            <input type="text" name="userId" value="<%= locals.user._id %>" hidden>
            <input type="submit" value="Add habit">
          </form>
        <% } %>
       </section>
       <section>
        <% if(userId){ %>
          <ul>
          <% for(habit of habits) {%>
          <li>
            <a href="/users/habit-detail/<%= habit._id %>"><%= habit.habit %></a>  
          </li> 
            <% } %>
         </ul>
        <% } %> 
       </section>
    </body>
   
</html>