body{
    margin: 0;
    padding: 0;
    #header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10vh;
        background-color: violet;
        padding: 0 20px;
        border-bottom: 2px solid white;
        #logo-container{
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
             margin-top: 7px;
             a{
                 text-decoration: none;
                h4{
                    display: inline;
                    letter-spacing: .2rem;
                    color: white;
                }
             }
            
        }
        #link-container{
            ul {
                li{
                    text-decoration: none;
                    display: inline-block;
                    margin: 0 40px;
                    }
            }
            
        }
    }
}